ul#tab-group {
	width: 450px;
	list-style-type: none;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
ul#tab-group li {
	display: inline;
	height: 2.5em;
	padding: 15px;
	padding-bottom: 4px;
}
ul#tab-group li:hover {
	background-color: #888;
	color: white;
}
ul#tab-group li.active {
	background-color: #444;
	color: white;
}
